.messenger {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
      align-items: stretch;
  height: 100%; }
  .messenger__users-list {
    padding: 0.4rem;
    min-width: 17.5rem; }
  .messenger__splitter {
    z-index: 1;
    width: 0.3rem;
    box-shadow: 2px 0 2px 0 #bebebe; }
  .messenger__messages {
    -ms-flex-positive: 1;
        flex-grow: 1;
    padding: 0.4rem;
    min-width: 25.5rem;
    background-color: #ebebeb; }
.login-form__title {
  margin: 0;
  margin-bottom: 1rem; }

.login-form__row {
  text-align: center; }

.login-form__submit-button {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: stretch;
      justify-content: stretch;
  margin: 1rem 0;
  text-align: center; }

.login-form__forgot-password {
  width: 100%;
  text-align: center; }
  .login-form__forgot-password-link {
    color: #2196f3; }
.input-group {
  clear: both;
  overflow: hidden;
  line-height: 1.6; }
  .input-group__label {
    position: relative;
    display: block;
    margin-top: 0.9rem;
    margin-bottom: 0.9rem; }
  .input-group__field {
    box-sizing: content-box;
    margin: 0 0 0.4rem;
    padding: 0;
    width: 100%;
    height: 3rem;
    outline: none;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    font-size: 1rem;
    transition: box-shadow 0.3s, border 0.3s; }
    .input-group__field::after {
      position: absolute;
      display: block;
      content: ''; }
    .input-group__field:focus {
      border-bottom: 1px solid #2196f3;
      box-shadow: 0 1px 0 0 #2196f3; }
  .input-group__placeholder {
    position: absolute;
    top: 0;
    left: 0;
    color: #9e9e9e;
    text-align: initial;
    font-size: 1rem;
    cursor: text;
    transition: transform 0.2s ease-out, color 0.2s ease-out;
    transform: translateY(12px);
    transform-origin: 0 100%; }
    .input-group__placeholder_focus {
      transform: translateY(-14px) scale(0.8);
      transform-origin: 0 0; }
  .input-group__field:focus + .input-group__placeholder {
    color: #2196f3; }
.button {
  position: relative;
  z-index: 1;
  display: block;
  -ms-flex-positive: 1;
      flex-grow: 1;
  overflow: hidden;
  padding: 0 2rem;
  height: 2.5rem;
  outline: 0;
  border: none;
  border-radius: 2px;
  background-color: #2196f3;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 2.5rem;
  cursor: pointer;
  transition: all 0.3s ease-out; }
  .button:hover {
    background-color: #43a6f5; }
.register-form__fieldset {
  padding: 0;
  outline: 0;
  border: none; }

.register-form__submit-button {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: stretch;
      justify-content: stretch;
  text-align: center; }
.signinup-form {
  position: relative;
  display: block;
  overflow: hidden;
  min-width: 20rem;
  max-width: 23rem;
  width: 100%;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.24), 0 1px 2px 0 rgba(0, 0, 0, 0.12); }
  .signinup-form__tabs {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none; }
  .signinup-form__tab {
    -ms-flex-positive: 1;
        flex-grow: 1;
    width: 15%;
    height: 3rem;
    text-align: center;
    text-transform: uppercase;
    text-overflow: ellipsis;
    line-height: 3rem; }
  .signinup-form__tab-content {
    padding: 1rem 1.5rem; }
  .signinup-form__tab-title {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #2196f3;
    color: white;
    cursor: pointer;
    transition: color 0.2s, background-color, 0.2s; }
    .signinup-form__tab-title_login {
      box-shadow: inset -1.5px -1.5px 3px 0 rgba(0, 0, 0, 0.24); }
    .signinup-form__tab-title_register {
      box-shadow: inset 1.5px -1.5px 3px 0 rgba(0, 0, 0, 0.24); }
    .signinup-form__tab-title_active {
      background-color: white;
      box-shadow: none;
      color: #2196f3;
      cursor: auto; }
  .signinup-form__loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: white; }
.authentication {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: center;
      justify-content: center;
  box-sizing: border-box;
  padding-top: 9rem;
  width: 100%;
  height: 100%; }
.messenger {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
      align-items: stretch;
  height: 100%; }
  .messenger__users-list {
    padding: 0.4rem;
    min-width: 17.5rem; }
  .messenger__splitter {
    z-index: 1;
    width: 0.3rem;
    box-shadow: 2px 0 2px 0 #bebebe; }
  .messenger__messages {
    -ms-flex-positive: 1;
        flex-grow: 1;
    padding: 0.4rem;
    min-width: 25.5rem;
    background-color: #ebebeb; }
.application {
  height: 100%; }

/*# sourceMappingURL=app-5a8d53493ac1e8267bcd.css.map*/