@import 'constants.scss';

.login-form {
  &__title {
    margin: 0;
    margin-bottom: 1rem;
  }

  &__row {
    text-align: center;
  }

  &__submit-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    margin: 1rem 0;
    text-align: center;
  }

  &__forgot-password {
    width: 100%;
    text-align: center;

    &-link {
      color: $activeColor;
    }
  }
}
