@import 'constants.scss';

html {
  color: $baseTextColor;
  background: $baseBackgroundColor;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: $baseTextColor;

  &:hover {
    text-decoration: none;
    color: darken($baseTextColor, 20%);
  }

  &:focus {
    text-decoration: none;
    color: $baseTextColor;
  }
}

html,
body,
#root {
  height: 100%;
}
