@import '../../../../../shared/view/styles/constants.scss';

.signinup-form {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  min-width: 20rem;
  max-width: 25rem;
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.24), 0 1px 2px 0 rgba(0, 0, 0, 0.12);

  &__tabs {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-between;
  }

  &__tab {
    flex-grow: 1;
    width: 15%;
    height: 3rem;
    text-align: center;
    text-transform: uppercase;
    text-overflow: ellipsis;
    line-height: 3rem;
  }

  &__tab-title {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: white;
    background-color: $activeColor;
  }

  &__indicator {
    //
  }

  &__login {
    padding: 1rem 1.5rem;
    background-color: white;
  }

  &__title {
    margin: 0;
    margin-bottom: 1rem;
  }

  &__row {
    text-align: center;
  }

  &__footer {
    margin: 1rem 0;
    text-align: center;
  }

  &__loading {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
  }
}
